    @font-face {
      font-family: 'montserrat';
      src: url('../fonts/montserrat-extrabold-webfont.woff2') format('woff2'), url('../fonts/montserrat-extrabold-webfont.woff') format('woff');
      font-weight: 800;
      font-style: normal;
    }

    @font-face {
      font-family: 'montserrat';
      src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'), url('../fonts/montserrat-bold-webfont.woff') format('woff');
      font-weight: 700;
      font-style: normal;
    }

    @font-face {
      font-family: 'montserrat';
      src: url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'), url('../fonts/montserrat-semibold-webfont.woff') format('woff');
      font-weight: 600;
      font-style: normal;
    }

    @font-face {
      font-family: 'montserrat';
      src: url('../fonts/montserrat-medium-webfont.woff2') format('woff2'), url('../fonts/montserrat-medium-webfont.woff') format('woff');
      font-weight: 500;
      font-style: normal;
    }

    @font-face {
      font-family: 'montserrat';
      src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'), url('../fonts/montserrat-regular-webfont.woff') format('woff');
      font-weight: 400;
      font-style: normal;
    }

    * {
      box-sizing: border-box;
    }

    :root {
      --swiper-pagination-bullet-horizontal-gap: 10px;
      --swiper-pagination-bullet-opacity: 1;
    }

    .body {
      margin: 0;
      padding: 0;
      width: 100%;
      font-family: 'montserrat', Arial, Helvetica, sans-serif;
    }

    .header {
      background: #fff;
      box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    }

    .container {
      max-width: 1770px;
      margin: 0 auto;
    }

    .header__container {
      padding: 0;
      height: 100%;
      display: flex;
      align-items: center;
      padding-top: 14px;
      padding-bottom: 12px;
    }

    .header__burger {
      display: none;
    }

    .header__logo {
      max-width: 224px;
      margin-right: auto;
    }

    .header__nav {
      display: flex;
    }

    .nav__menu-close {
      display: none;
    }

    .nav__list {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      top: 1px;
      padding: 0;
      margin: 0;
      margin-right: 85px;
    }

    .nav__item {
      list-style: none;
    }

    .nav__item:not(:last-child) {
      margin-right: 85px;
    }

    .nav__link {
      text-decoration: none;
      font-size: 18px;
      line-height: 27px;
      font-weight: 600;
      color: #333333;
      outline: none;
      border: none;
      transition: color .5s linear, border-color .5s linear, border-width .5s linear, border-style .5s linear;
    }

    .nav__link:focus {
      color: #333333;
      outline: 2px solid #ff9900;
    }

    .nav__link:hover {
      border: none;
      outline: none;
      border-bottom-color: #ff9900;
      border-bottom-width: 2px;
      border-bottom-style: solid;
    }

    .nav__link:active {
      color: #E1670E;
      border: none;
      outline: none;
      border-bottom-width: 2px;
      border-bottom-style: solid;
      border-bottom-color: #E1670E;
    }

    .nav__search {
      position: relative;
      top: 2px;
      margin: 0;
      padding: 0;
      background-color: transparent;
      background-size: contain;
      border: none;
      outline: none;
      cursor: pointer;
    }

    .nav__search-icon path {
      transition: stroke .5s linear;
    }

    .nav__search-icon rect {
      transition: fill .5s linear;
    }

    .nav__search:focus svg {
      outline: 2px solid #ff9900;
    }

    .nav__search-icon:hover rect {
      fill: #FF9900;
      outline: none;
    }

    .nav__search-icon:hover path {
      stroke: #FF9900;
      outline: none;
    }

    .hero-section {
      position: relative;
    }

    .hero-section__container {
      position: relative;
      margin-bottom: 101px;
    }

    .hero-swiper {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      overflow: hidden;
    }

    .swiper-slide {
      background-size: cover;
    }

    .swiper-pagination {
      position: absolute;
      z-index: 6;
    }

    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
      bottom: 28px;
    }

    .swiper-pagination-bullet-active {
      opacity: var(--swiper-pagination-bullet-opacity, 1);
    }

    .swiper-pagination-bullet {
      width: 15px;
      height: 15px;
      background: #ffffff;
      margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px);
    }

    .hero-section__contents {
      position: relative;
      z-index: 5;
      margin: 0;
      padding-top: 103px;
      padding-left: 81px;
      padding-bottom: 100px;
    }

    .hero-section__title {
      margin: 0;
      padding: 0;
      max-width: 837px;
      color: #fff;
      font-size: 70px;
      font-weight: 800;
      line-height: 85px;
      margin-bottom: 22px;
    }

    .hero-section__text {
      margin: 0;
      padding: 0;
      max-width: 790px;
      font-size: 24px;
      font-weight: 700;
      line-height: 29px;
      color: #fff;
      margin-bottom: 88px;
    }

    .hero-section__btn {
      padding: 17px 39px;
      border-radius: 0px;
      background: #FF9900;
      border: none;
      text-decoration: none;
      color: #fff;
      text-align: center;
      font-size: 23px;
      font-weight: 700;
      line-height: 43px;
      cursor: pointer;
      transition: background-color .5s linear;
    }

    .hero-section__btn:focus {
      background-color: rgba(255, 153, 0, 0.7);
      outline: none;
    }

    .hero-section__btn:hover {
      background-color: rgba(255, 153, 0, 0.7);
    }

    .hero-section__btn:active {
      background-color: rgba(225, 103, 14, 1);
    }

    .about-section__container {
      position: relative;
      height: 100%;
      margin-bottom: 103px;
    }

    .about-section__title {
      position: relative;
      top: 2px;
      left: 1px;
      margin: 0;
      padding: 0;
      max-width: 141px;
      font-size: 48px;
      font-weight: 400;
      line-height: 59px;
      color: #333333;
      margin-bottom: 21px;
    }

    .about-section__description-top {
      position: relative;
      left: 1px;
      margin: 0;
      max-width: 1235px;
      font-size: 16px;
      font-weight: 400;
      line-height: 32px;
      margin-bottom: 47px;
    }

    .about-section__description-bottom {
      display: flex;
    }

    .description-bottom__description-left {
      position: relative;
      left: 1px;
      display: flex;
      align-items: flex-end;
      width: 868px;
      background: url('../img/about-section-background.png');
      background-size: cover;
      background-repeat: no-repeat;
      margin-right: 33px;
    }

    .description-left_dark {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 51px;
      padding-bottom: 50px;
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
    }

    .desctiption-left__text {
      margin: 0;
      padding: 0;
      position: relative;
      top: 2px;
      max-width: 454px;
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      line-height: 32px;
    }

    .description-left__btn {
      max-width: 175px;
      padding: 18px 36px;
      border: 3px solid #ff9900;
      background-color: transparent;
      text-decoration: none;
      text-align: center;
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      cursor: pointer;
      transition: background-color .5s linear;
    }

    .description-left__btn:focus {
      background-color: #ff9900;
      outline: none;
    }

    .description-left__btn:hover {
      background-color: #ff9900;
    }

    .description-left__btn:active {
      background-color: rgba(225, 103, 14, 1);
      border: 3px solid rgba(225, 103, 14, 1);
    }

    .description-bottom__description-right {
      width: 870px;
      height: 100%;
    }

    .description-right__upper-block {
      position: relative;
      top: 1px;
      left: 1px;
      max-width: 870px;
      outline: 1px solid #cacaca;
      padding-top: 65px;
      padding-left: 300px;
      padding-bottom: 64px;
      margin-bottom: 33px;
    }

    .description-right__upper-block::before {
      content: '';
      position: absolute;
      left: 60px;
      top: 65px;
      background: url('../img/upper-block-image.png');
      width: 190px;
      height: 165px;
    }

    .upper-block__title {
      max-width: 452px;
      font-size: 24px;
      font-weight: 700;
      line-height: 30px;
      margin-bottom: 8px;
    }

    .upper-block__text {
      max-width: 450px;
      font-size: 16px;
      font-weight: 400;
      line-height: 32px;
    }

    .description-right__lower-block {
      position: relative;
      left: 1px;
      max-width: 870px;
      outline: 1px solid #cacaca;
      padding-top: 65px;
      padding-left: 300px;
      padding-bottom: 64px;
    }

    .description-right__lower-block::before {
      content: '';
      position: absolute;
      background: url('../img/lower-block-image.png');
      width: 190px;
      height: 165px;
      left: 60px;
      top: 65px;
    }

    .lower-block__title {
      max-width: 406px;
      font-size: 24px;
      font-weight: 700;
      line-height: 30px;
      margin-bottom: 8px;
    }

    .lower-block__text {
      max-width: 450px;
      font-size: 16px;
      font-weight: 400;
      line-height: 32px;
    }

    .work-section__container {
      position: relative;
      left: 1px;
      margin-bottom: 103px;
    }

    .work-section__title {
      margin: 0;
      padding: 0;
      font-size: 48px;
      font-weight: 400;
      line-height: 59px;
      margin-bottom: 48px;
    }

    .work-section__list {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
      margin-bottom: 45px;
    }

    .work-section__list-item:not(:last-child) {
      margin-right: 86px;
    }

    .work-section__button {
      margin: 0;
      padding: 0;
      text-decoration: none;
      font-size: 18px;
      font-weight: 400;
      line-height: 21px;
      color: #222222;
      background: none;
      border: none;
      cursor: pointer;
      transition: color .5s linear;
    }

    .work-section__button-active {
      color: #E1670E;
    }

    .work-section__button:focus {
      color: rgba(51, 51, 51, 1);
      outline: 2px solid #ff9900;
    }

    .work-section__button:hover {
      outline: none;
      color: rgba(255, 153, 0, 1);
    }

    .work-section__button:active {
      color: rgba(225, 103, 14, 1);
      outline: none;
    }

    .tab-content {
      display: none;
    }

    .tab-content-active {
      display: block;
    }

    .work-section__description-step-one {
      display: flex;
      justify-content: space-between;
    }

    .description-step-one-left {
      width: 50%;
      margin-right: 33px;
    }

    .description-step-one-left__title {
      margin: 0;
      padding: 0;
      font-size: 24px;
      font-weight: 700;
      line-height: 34px;
      color: #333333;
      margin-bottom: 7px;
    }

    .description-step-one-left__text {
      margin: 0;
      padding: 0;
      max-width: 758px;
      font-size: 16px;
      font-weight: 400;
      line-height: 32px;
      margin-bottom: 48px;
    }

    .description-step-one__buttons {
      display: flex;
    }

    .description-step-one__button_orange {
      padding: 18px 38px;
      background: #ff9900;
      margin-right: 32px;
      border: none;
      text-decoration: none;
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      text-align: center;
      cursor: pointer;
      transition: background-color .5s linear;
    }

    .description-step-one__button_orange:focus {
      background-color: rgba(247, 176, 69, 1);
      outline: none;
    }

    .description-step-one__button_orange:hover {
      background-color: rgba(247, 176, 69, 1);
    }

    .description-step-one__button_orange:active {
      background-color: rgba(225, 103, 14, 1);
    }

    .description-step-one__button_transparent {
      padding: 20px 37px;
      background: #fff;
      border: 1px solid #333333;
      text-decoration: none;
      color: #333333;
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
      cursor: pointer;
      transition: background-color .5s linear;
    }

    .description-step-one__button_transparent:focus {
      color: #fff;
      background: #666666;
      outline: none;
    }

    .description-step-one__button_transparent:hover {
      color: #fff;
      background-color: #666666;
    }

    .description-step-one__button_transparent:active {
      color: #fff;
      background: #000000;
    }

    .description-step-one-right {
      width: 50%;
      padding-top: 8px;
    }

    .description-step-one__image {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .faq-section__container {
      position: relative;
      left: 1px;
      margin-bottom: 100px;
    }

    .faq-section__title {
      margin: 0;
      padding: 0;
      max-width: 693px;
      font-size: 48px;
      font-weight: 400;
      line-height: 59px;
      margin-bottom: 40px;
    }

    .faq-section__list {
      margin: 0;
      padding: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      list-style: none;
    }

    .faq-section__item {
      padding-top: 29px;
      padding-bottom: 30px;
      border-bottom: 1px solid #cacaca;
      border-top: 1px solid transparent;
      transition: border-color .5s linear;
    }

    .faq-section__item:first-child {
      border-top: 1px solid #cacaca;
    }

    .ui-accordion-header-icon {
      display: none;
    }

    .faq-section__accordion {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
    }

    .ui-accordion-header-active .faq-section__more::before {
      transform: rotate(45deg);
    }

    .ui-accordion-header-active .faq-section__more::after {
      transform: rotate(-45deg)
    }

    .faq-section__question {
      margin: 0;
      padding: 0;
      color: #333333;
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      transition: color 0.25s linear;
    }

    .faq-section__answer {
      margin-top: 30px;
      padding-right: 663px;
      padding-bottom: 40px;
    }

    .faq-section__text {
      margin: 0;
      padding: 0;
      font-size: 16px;
      line-height: 32px;
    }

    .faq-section__more {
      position: relative;
      width: 50px;
      height: 50px;
      background-color: #ececec;
      border-radius: 50%;
      transition: background-color .5s linear, transform .5s linear;
    }

    .faq-section__more::before, .faq-section__more::after {
      position: absolute;
      content: '';
      right: 25px;
      top: 10px;
      width: 1px;
      height: 31px;
      background: rgba(102, 102, 102, 1);
      transition: background-color .5s linear;
    }

    .faq-section__more:before {
      transform: rotate(90deg);
    }

    .faq-section__item:hover {
      border-top: 1px solid #ff9900;
      border-bottom: 1px solid #ff9900;
    }

    .faq-section__item:hover .faq-section__question {
      color: #ff9900;
    }

    .faq-section__item:hover .faq-section__more {
      background-color: #ff9900;
    }

    .faq-section__item:hover .faq-section__more:before {
      background-color: #fff;
    }

    .faq-section__item:hover .faq-section__more:after {
      background-color: #fff;
    }

    .faq-section__item:active {
      border-top: 1px solid #cacaca;
      border-bottom: 1px solid #cacaca;
    }

    .faq-section__item:active .faq-section__text {
      color: #333333;
    }

    .faq-section__item:active .faq-section__more {
      background: rgba(236, 236, 236, 1);
    }

    .faq-section__item:active .faq-section__more:before {
      transform: rotate(45deg);
    }

    .faq-section__item:active .faq-section__more:after {
      transform: rotate(-45deg);
    }

    .footer {
      background-color: #222222;
    }

    .footer__container {
      padding: 0;
      display: flex;
      padding-top: 49px;
      background-color: #222222;
      padding-bottom: 50px;
    }

    .footer-left {
      max-width: 251px;
      margin-right: 350px;
    }

    .footer-left__logo {
      margin-bottom: 18px;
    }

    .footer-left__footer-menu {
      margin: 0;
      padding: 0;
      list-style: none;
      margin-bottom: 88px;
    }

    .footer-left__menu-link {
      text-decoration: none;
      font-size: 18px;
      font-weight: 600;
      line-height: 36px;
      color: #cacaca;
      transition: color .5s linear;
    }

    .footer-left__menu-link:focus {
      outline: 2px solid #ff9900;
      color: #cacaca;
    }

    .footer-left__menu-link:hover {
      outline: none;
      color: rgba(255, 153, 0, 1);
    }

    .footer-left__menu-link:active {
      outline: none;
      color: rgba(225, 103, 14, 1);
    }

    .footer-left__social-list {
      margin: 0;
      padding: 0;
      width: 230px;
      display: flex;
      justify-content: space-between;
      list-style: none;
    }

    .footer-left__social-item {
      display: block;
      width: 60px;
      height: 60px;
    }

    .footer-left__social-link {
      fill: #7c7c7c;
      transition: fill .5s linear;
    }

    .footer-left__social-link:focus {
      display: inline-block;
      outline: 2px solid #ff9900;
      width: 100%;
      height: 100%;
    }

    .footer-left__social-link:hover {
      outline: none;
      fill: #ff9900;
    }

    .footer-left__social-link:active {
      outline: none;
      fill: #ff9900;
    }

    .footer-center {
      max-width: 570px;
      margin-right: 236px;
      padding-top: 5px;
    }

    .footer-center__title {
      margin: 0;
      padding: 0;
      max-width: 408px;
      font-size: 48px;
      font-weight: 400;
      line-height: 58px;
      color: #cacaca;
      margin-bottom: 21px;
    }

    .form__item {
      width: 100%;
      background: #414141;
      color: #ffffff;
      outline: none;
      border: none;
      padding-left: 24px;
      transition: background-color .5s linear;
    }

    .form__item:focus {
      background-color: rgba(102, 102, 102, 1);
      outline: none;
    }

    .form__item:hover {
      background-color: rgba(102, 102, 102, 1);
    }

    .form__item:active {
      background-color: rgba(102, 102, 102, 1);
    }

    .form__item::placeholder {
      font-size: 16px;
      font-weight: 400;
      line-height: 32px;
      color: #cacaca;
    }

    .form__name {
      height: 60px;
      margin-bottom: 29px;
    }

    .form__email {
      height: 60px;
      margin-bottom: 23px;
    }

    .form__textarea {
      resize: none;
      height: 150px;
      padding-top: 14px;
      margin-bottom: 26px;
    }

    .footer-center__bottom {
      display: flex;
      align-items: center;
      font-size: 0;
    }

    .form__btn {
      margin: 0;
      padding: 0;
      padding: 19px 38px;
      background-color: #FF9900;
      color: #fff;
      outline: none;
      border: none;
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      text-align: center;
      margin-right: 42px;
      cursor: pointer;
      transition: background-color .5s linear;
    }

    .form__btn:focus {
      background-color: rgba(247, 176, 69, 1);
      outline: none;
    }

    .form__btn:hover {
      background-color: rgba(247, 176, 69, 1);
    }

    .form__btn:active {
      background-color: rgba(225, 103, 14, 1);
    }

    .form__confirmation-checkbox {
      opacity: 0;
      position: relative;
    }

    .form__confirmation-text {
      position: relative;
      line-height: 32px;
      font-size: 16px;
      font-weight: 400;
      color: #fff;
    }

    .form__label {
      position: relative;
    }

    .form__confirmation-checkbox+span {
      position: absolute;
      top: 8px;
      right: 262px;
      width: 14px;
      height: 14px;
      outline: 1px solid rgba(202, 202, 202, 1);
    }

    .form__confirmation-checkbox:focus+span {
      outline: 2px solid #ff9900;
    }

    .form__confirmation-checkbox+span::before {
      position: absolute;
      content: '';
      background: url('../img/footer-tick.svg');
      background-repeat: no-repeat;
      background-size: 100%;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      opacity: 0;
      transition: opacity .3s ease-in-out;
    }

    .form__confirmation-checkbox:checked+span:before {
      opacity: 1;
    }

    .footer-right {
      max-width: 1099px;
      padding-top: 90px;
    }

    .footer-right__description {
      max-width: 363px;
      font-size: 16px;
      font-weight: 400;
      line-height: 32px;
      color: #cacaca;
    }

    @media screen and (max-width:1919px) {
      .header {
        padding-right: 60px;
        padding-left: 60px;
      }
      .hero-section {
        padding-right: 60px;
        padding-left: 60px;
      }
      .about-section {
        padding-right: 60px;
        padding-left: 60px;
      }
      .work-section {
        padding-right: 60px;
        padding-left: 60px;
      }
      .faq-section {
        padding-right: 60px;
        padding-left: 60px;
      }
      .faq-section__answer {
        padding-right: 363px;
      }
      .footer {
        padding-right: 60px;
        padding-left: 60px;
      }
    }

    @media screen and (max-width:1790px) {
      .description-bottom__description-left {
        width: 50%;
      }
      .description-bottom__description-right {
        width: 50%;
      }
      .desctiption-left__text {
        margin-right: 30px;
      }
      .description-right__upper-block, .description-right__lower-block {
        padding-right: 30px;
      }
      .description-step-one-left {
        width: 50%;
      }
      .description-step-one-right {
        width: 50%;
      }
      .faq-section__more {
        flex-shrink: 0;
        padding: 9px 9px 10px 10px;
      }
      .faq-section__answer {
        padding-right: 263px;
        padding-bottom: 40px;
      }
      .footer__container {
        justify-content: space-between;
      }
      .footer-left {
        margin-right: 50px;
      }
      .footer-center {
        margin-right: 50px;
      }
    }

    @media screen and (max-width:1280px) {
      .header {
        padding-right: 50px;
        padding-left: 50px;
      }
      .nav__item:not(:last-child) {
        margin-right: 45px;
      }
      .hero-section {
        padding-right: 50px;
        padding-left: 50px;
      }
      .hero-section__contents {
        padding-top: 160px;
        padding-left: 80px;
        padding-bottom: 160px;
      }
      .hero-section__title {
        font-size: 60px;
        line-height: 73px;
        margin-bottom: 16px;
      }
      .hero-section__text {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 58px;
      }
      .about-section {
        padding-right: 50px;
        padding-left: 50px;
      }
      .about-section__description-bottom {
        align-items: center;
        flex-direction: column;
      }
      .description-bottom__description-left {
        padding-top: 444px;
        width: 100%;
        background-size: 100%;
        margin-bottom: 32px;
        margin-right: 0;
      }
      .description-bottom__description-right {
        width: 100%;
      }
      .description-right__upper-block, .description-right__lower-block {
        max-width: 100%;
      }
      .work-section {
        padding-right: 50px;
        padding-left: 50px;
      }
      .description-step-one-left {
        width: 50%;
      }
      .description-step-one-right {
        width: 50%;
      }
      .faq-section {
        padding-right: 50px;
        padding-left: 50px;
      }
      .faq-section__answer {
        padding-right: 80px;
        padding-bottom: 50px;
      }
      .footer {
        padding-right: 50px;
        padding-left: 50px;
      }
      .footer-center {
        margin-right: auto;
      }
      .footer-left {
        margin-right: 133px;
      }
      .footer-right {
        display: none;
      }
    }

    @media screen and (max-width:1024px) {
      .header__container {
        padding-top: 23px;
        padding-bottom: 23px;
      }
      .header__burger {
        position: relative;
        display: block;
        padding: 0;
        outline: none;
        border: none;
        width: 30px;
        height: 23px;
        background-color: transparent;
        cursor: pointer;
      }
      .header__burger-icon, .header__burger-icon::before, .header__burger-icon::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background: #333333;
        margin: 0 auto;
      }
      .header__burger-icon {
        top: 10px;
      }
      .header__burger-icon::before {
        content: '';
        top: 10px;
      }
      .header__burger-icon::after {
        content: '';
        bottom: 10px;
      }
      .nav__menu-mobile {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        width: 420px;
        height: 770px;
        background: #ffffff;
        padding-left: 50px;
        padding-top: 39px;
        box-shadow: 0px 5px 40px 0px #0000001A;
        transition: transform .3s ease-in-out;
        transform: translateX(-101%);
      }
      .nav__menu-mobile-active {
        transform: none;
      }
      .nav__menu-close {
        margin: 0;
        padding: 0;
        position: relative;
        z-index: 8;
        display: block;
        width: 22px;
        height: 22px;
        cursor: pointer;
        background: #ffffff;
        margin-bottom: 100px;
        border: none;
      }
      .nav__menu-close::before, .nav__menu-close::after {
        position: absolute;
        content: '';
        width: 3px;
        height: 29px;
        top: -4px;
        bottom: 8px;
        left: 8px;
        right: 0;
        background: #333333;
      }
      .nav__menu-close::before {
        transform: rotate(45deg);
      }
      .nav__menu-close::after {
        transform: rotate(-45deg);
      }
      .nav__list {
        display: flex;
        flex-direction: column;
        background: #ffffff;
      }
      .nav__item:not(:last-child) {
        margin-bottom: 60px;
      }
      .nav__link {
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
      }
      .header__logo {
        position: relative;
        top: 3px;
        left: -2px;
        margin: 0 auto;
      }
      .about-section__description-top {
        width: 100%;
      }
      .description-bottom__description-left {
        width: 100%;
        background-size: cover;
        margin-bottom: 32px;
      }
      .description-bottom__description-right {
        width: 100%;
      }
      .about-section__container {
        margin-bottom: 80px;
      }
      .work-section__container {
        margin-bottom: 80px;
      }
      .faq-section__container {
        margin-bottom: 80px;
      }
      .faq-section__answer {
        padding-right: 100px;
      }
    }

    @media screen and (min-width:960px) and (max-width: 1024px) {
      .hero-section__contents {
        padding-left: 70px;
        padding-right: 70px;
      }
      .hero-section__text {
        width: 660px;
        margin-bottom: 60px;
      }
      .hero-section__btn {
        font-size: 23px;
        padding: 19px 39px;
      }
      .hero-section__container {
        margin-bottom: 81px;
      }
      .hero-section__contents {
        padding-left: 78px;
        padding-top: 165px;
      }
      .hero-section__title {
        margin-bottom: 12px;
      }
      .about-section__container {
        margin-bottom: 84px;
      }
      .about-section__title {
        margin-bottom: 8px;
      }
      .about-section__description-top {
        margin-bottom: 60px;
      }
      .description-right__upper-block, .description-right__lower-block {
        padding-left: 316px;
        padding-bottom: 62px;
        padding-right: 30px;
      }
      .description-right__upper-block {
        margin-bottom: 35px;
      }
      .description-right__upper-block::before, .description-right__lower-block::before {
        left: 75px;
      }
      .work-section__container {
        margin-bottom: 82px;
      }
      .work-section__title {
        margin-bottom: 50px;
      }
      .work-section__list {
        margin-bottom: 50px;
      }
      .description-step-one-left__title {
        margin-bottom: 6px;
      }
      .description-step-one-left__text {
        margin-bottom: 22px;
      }
      .description-step-one-left {
        margin-right: 50px;
      }
      .description-step-one__image {
        width: 100%;
      }
      .faq-section__title {
        margin-bottom: 30px;
      }
      .faq-section__question {
        font-size: 20px;
        line-height: 32px;
        margin-right: 118px;
      }
      .faq-section__item {
        padding-top: 28px;
        padding-bottom: 31px;
      }
      .faq-section__container {
        margin-bottom: 80px;
      }
      .faq-section__text {
        font-size: 14px;
        line-height: 28px;
      }
      .faq-section__answer {
        padding-right: 70px;
      }
      .footer-left {
        margin-right: 134px;
        font-size: 0;
      }
      .footer-left__logo {
        margin-bottom: 22px;
      }
      .footer-left__footer-menu {
        margin-bottom: 89px;
      }
      .footer-left__menu-item {
        width: 251px;
      }
      .footer-left__menu-link {
        display: block;
        width: 100%;
      }
      .footer-center__title {
        margin-bottom: 22px;
      }
      .form__name {
        margin-bottom: 26px;
      }
      .form__email {
        margin-bottom: 25px;
      }
      .footer-center__bottom {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
      .form__btn {
        padding: 20px 36px 20px 37px;
        margin-right: 0;
      }
      .form__label {
        display: flex;
        padding-top: 5px;
        padding-right: 2px;
      }
      .form__confirmation-checkbox+span {
        position: relative;
        left: -3px;
      }
      .form__confirmation-text {
        position: relative;
        left: 0;
      }
    }

    @media screen and (max-width:959px) {
      .description-step-one-left {
        width: 100%;
      }
      .description-step-one-right {
        width: 100%;
        margin-bottom: 33px;
      }
      .description-step-one__image {
        width: 100%;
      }
      .footer-left__footer-menu {
        display: none;
      }
    }

    @media screen and (min-width:768px) and (max-width:959px) {
      .header__container {
        padding-top: 7px;
        padding-bottom: 10px;
      }
      .nav__menu-mobile {
        height: 731px;
        padding-top: 21px;
      }
      .hero-section__contents {
        padding-top: 162px;
        padding-right: 40px;
        padding-left: 40px;
      }
      .hero-section__title {
        font-size: 50px;
        line-height: 61px;
        max-width: 588px;
      }
      .hero-section__text {
        font-size: 18px;
        line-height: 22px;
        max-width: 588px;
        margin-bottom: 59px;
      }
      .hero-section__container {
        margin-bottom: 83px;
      }
      .about-section__title {
        margin-bottom: 8px;
      }
      .about-section__description-top {
        margin-bottom: 58px;
      }
      .description-left_dark {
        padding-top: 45px;
        padding-bottom: 35px;
        padding-left: 40px;
        padding-right: 40px;
      }
      .desctiption-left__text {
        margin-right: 47px;
      }
      .description-right__upper-block, .description-right__lower-block {
        padding-top: 35px;
        padding-left: 170px;
        padding-bottom: 32px;
      }
      .description-right__upper-block::before {
        background: url('../img/upper-block-768.png');
        background-repeat: no-repeat;
        left: 38px;
      }
      .description-right__lower-block::before {
        background: url('../img/lower-block-768.png');
        background-repeat: no-repeat;
        left: 38px;
        top: 69px;
      }
      .about-section__container {
        margin-bottom: 86px;
      }
      .work-section__list {
        justify-content: space-between;
        margin-bottom: 41px;
      }
      .work-section__description-step-one {
        flex-direction: column-reverse;
      }
      .description-step-one__image {
        background-repeat: no-repeat;
      }
      .description-step-one-left__text {
        margin-bottom: 23px;
      }
      .work-section__container {
        margin-bottom: 85px;
      }
      .faq-section__title {
        margin-bottom: 27px;
      }
      .faq-section__question {
        font-size: 20px;
        margin-right: 48px;
      }
      .faq-section__text {
        font-size: 14px;
        line-height: 28px;
      }
      .faq-section__answer {
        padding-right: 30px;
        padding-bottom: 30px;
      }
      .footer__container {
        flex-direction: column-reverse;
        padding-top: 50px;
      }
      .footer-center {
        margin-right: 0;
        padding-right: 27px;
      }
      .form__name {
        margin-bottom: 27px;
      }
      .form__textarea {
        margin-bottom: 27px;
      }
      .footer-left__logo {
        margin-bottom: 13px;
      }
      .footer-center__bottom {
        margin-bottom: 50px;
      }
      .form__btn {
        margin-right: 38px;
      }
      .form__label {
        top: 2px;
      }
    }

    @media screen and (min-width:640px) and (max-width:767px) {
      .header {
        padding-right: 30px;
        padding-left: 30px;
      }
      .hero-section {
        padding-right: 30px;
        padding-left: 30px;
      }
      .hero-section__contents {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 80px;
        padding-right: 0;
        padding-left: 0;
      }
      .hero-section__title {
        font-size: 50px;
        line-height: 61px;
        margin-bottom: 25px;
      }
      .hero-section__text {
        margin: 0 auto;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 32px;
        max-width: 575px;
      }
      .hero-section__btn {
        margin: auto;
      }
      .hero-section__container {
        margin-bottom: 60px;
      }
      .about-section {
        padding-right: 30px;
        padding-left: 30px;
      }
      .work-section {
        padding-right: 30px;
        padding-left: 30px
      }
      .work-section__list {
        justify-content: space-between;
        margin-bottom: 50px;
      }
      .work-section__description-step-one {
        flex-direction: column-reverse;
      }
      .faq-section {
        padding-right: 30px;
        padding-left: 30px;
      }
      .faq-section__question {
        font-size: 20px;
      }
      .faq-section__text {
        font-size: 12px;
        line-height: 24px;
      }
      .faq-section__answer {
        padding-right: 10px;
        padding-bottom: 40px;
      }
      .footer {
        padding-left: 30px;
        padding-right: 30px;
      }
      .footer__container {
        flex-direction: column-reverse;
        padding-top: 50px;
      }
      .footer-center__bottom {
        margin-bottom: 50px;
      }
    }

    @media screen and (max-width:639px) {
      .header {
        padding-right: 15px;
        padding-left: 15px;
      }
      .header__container {
        padding-top: 14px;
        padding-bottom: 15px;
      }
      .nav__menu-mobile {
        width: 320px;
        height: 377px;
        padding-top: 23px;
        padding-left: 15px;
      }
      .nav__menu-close {
        margin-bottom: 32px;
      }
      .nav__item:not(:last-child) {
        margin-bottom: 32px;
      }
      .nav__link {
        font-size: 16px;
        line-height: 20px;
      }
      .hero-section {
        padding-right: 15px;
        padding-left: 15px;
      }
      .hero-section__contents {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 62px;
        padding-bottom: 60px;
        padding-right: 0;
        padding-left: 0;
      }
      .hero-section__title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 8px;
      }
      .hero-section__text {
        margin: 0 auto;
        font-size: 12px;
        line-height: 15px;
        width: 247px;
        margin-bottom: 32px;
      }
      .hero-section__btn {
        font-size: 12px;
        line-height: 15px;
        padding: 12px 28px;
        margin: auto;
      }
      .hero-section__container {
        margin-bottom: 60px;
      }
      .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 10px;
      }
      .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
      }
      .about-section {
        padding-right: 15px;
        padding-left: 15px;
      }
      .about-section__title {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 22px;
      }
      .about-section__description-top {
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 11px;
      }
      .description-bottom__description-left {
        background-size: contain;
        padding-top: 200px;
      }
      .description-left_dark {
        padding: 0;
        padding-top: 9px;
        flex-direction: column;
        background: #ffffff;
      }
      .desctiption-left__text {
        align-self: flex-start;
        width: 100%;
        font-size: 14px;
        line-height: 28px;
        font-weight: 400;
        color: black;
        margin-bottom: 10px;
      }
      .description-left__btn {
        align-self: flex-start;
        font-size: 12px;
        line-height: 15px;
        font-weight: 700;
        padding: 11px 42px;
        border: 2px solid #ff9900;
        color: rgba(255, 153, 0, 1);
      }
      .description-left__btn:focus {
        color: #000000;
      }
      .description-left__btn:hover {
        color: #000000;
      }
      .description-bottom__description-right {
        max-width: 100%;
      }
      .description-right__upper-block, .description-right__lower-block {
        max-width: 100%;
        outline: none;
        padding: 0;
        padding-top: 61px;
      }
      .description-right__upper-block::before {
        background: url('../img/upper-block-320.png');
        background-repeat: no-repeat;
        top: -1px;
        left: -1px;
      }
      .upper-block__title {
        width: 100%;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        margin-bottom: 5px;
      }
      .upper-block__text {
        font-size: 14px;
        line-height: 28px;
        font-weight: 400;
      }
      .description-right__lower-block::before {
        background: url('../img/lower-block-320.png');
        background-repeat: no-repeat;
        top: -1px;
        left: -1px;
      }
      .lower-block__title {
        width: 100%;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        margin-bottom: 4px;
      }
      .lower-block__text {
        font-size: 14px;
        line-height: 28px;
        font-weight: 400;
      }
      .about-section__container {
        margin-bottom: 60px;
      }
      .work-section {
        padding-right: 15px;
        padding-left: 15px;
      }
      .work-section__title {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 19px;
      }
      .work-section__list {
        justify-content: space-between;
        margin-bottom: 6px;
      }
      .work-section__button {
        font-size: 14px;
        line-height: 17px;
      }
      .work-section__list-item:not(:last-child) {
        margin-right: 44px;
      }
      .work-section__description-step-one {
        flex-direction: column-reverse;
      }
      .description-step-one-left {
        width: 100%;
      }
      .description-step-one-left__title {
        font-size: 18px;
        line-height: 32px;
        font-weight: 500;
      }
      .description-step-one-left__text {
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 16px;
      }
      .description-step-one__buttons {
        display: flex;
        justify-content: space-around;
        width: 100%;
      }
      .description-step-one__button_orange {
        padding: 10px 44px;
        font-size: 12px;
        line-height: 15px;
        margin-right: 10px;
      }
      .description-step-one__button_transparent {
        padding: 11px 31px 11px 32px;
        font-size: 12px;
        line-height: 15px;
      }
      .description-step-one-right {
        width: 100%;
        margin-bottom: 14px;
      }
      .description-step-one__image {
        width: 100%;
      }
      .work-section__container {
        margin-bottom: 62px;
      }
      .faq-section {
        padding-right: 15px;
        padding-left: 15px;
      }
      .faq-section__item {
        padding-top: 31px;
        padding-bottom: 28px;
      }
      .faq-section__title {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 14px;
      }
      .faq-section__question {
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
        margin-right: 17px;
      }
      .faq-section__container {
        margin-bottom: 60px;
      }
      .faq-section__more {
        width: 30px;
        height: 30px;
      }
      .faq-section__more::before, .faq-section__more::after {
        right: 15px;
        top: 5px;
        height: 18px;
      }
      .faq-section__text {
        font-size: 10px;
        line-height: 20px;
      }
      .faq-section__answer {
        margin-top: 5px;
        padding-right: 0;
        padding-bottom: 150px;
      }
      .footer {
        padding-left: 15px;
        padding-right: 15px;
      }
      .footer-center__title {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 18px;
      }
      .footer-center__form {
        display: flex;
        flex-direction: column;
      }
      .form__item {
        padding: 0;
        width: 100%;
        padding-left: 21px;
        padding-bottom: 2px;
      }
      .form__item::placeholder {
        font-size: 14px;
      }
      .form__name {
        margin-bottom: 23px;
      }
      .form__email {
        margin-bottom: 26px;
      }
      .form__textarea {
        padding-top: 14px;
      }
      .footer-center {
        width: 100%;
      }
      .footer__container {
        flex-direction: column-reverse;
        padding-top: 32px;
        padding-bottom: 32px;
      }
      .footer-left__footer-menu {
        display: none;
      }
      .footer-center__bottom {
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid #595959;
        padding-bottom: 16px;
        margin-bottom: 16px;
      }
      .form__btn {
        margin: 0 auto;
        padding: 12px 28px;
        font-size: 12px;
        line-height: 15px;
        max-width: 180px;
        margin-bottom: 12px;
      }
      .form__label {
        display: flex;
        width: 100%;
        justify-content: center;
      }
      .form__confirmation-checkbox+span {
        position: relative;
        left: -2px;
        margin: 0;
      }
      .form__confirmation-text {
        position: relative;
        left: 3px;
        margin: 0;
        font-size: 16px;
        line-height: 32px;
      }
      .footer-left {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
      }
      .footer-left__logo {
        margin: 0 auto;
        width: 131px;
        margin-bottom: 16px;
      }
      .footer-left__social-item {
        width: 40px;
        height: 40px;
      }
      .footer-left__social-list {
        margin: 0 auto;
        width: 153px;
      }
    }
